# Working Title
**Exploring synthetic healthcare data: EDA and Modeling**

---

## Section 1: Setup and Package Imports

In [1]:
# import the necessary packages for cleaning the healthcare data
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

/Users/ajgafford/Documents/Projects/Python/Kaggle/healthcare/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Users/ajgafford/Documents/Projects/Python/Kaggle/healthcare/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Set the path to the file you'd like to load
file_path = "healthcare_dataset.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "prasad22/healthcare-dataset",
  file_path,
  # Provide any additional arguments like 
  # sql_query or pandas_kwargs. See the 
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/var/folders/5t/yh7_1mln4qvfyjw6ljwyv0xh0000gn/T/ipykernel_3183/118917087.py:5: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:             Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Bobby JacksOn   30    Male         B-            Cancer        2024-01-31
1   LesLie TErRy   62    Male         A+           Obesity        2019-08-20
2    DaNnY sMitH   76  Female         A-           Obesity        2022-09-22
3   andrEw waTtS   28  Female         O+          Diabetes        2020-11-18
4  adrIENNE bEll   43  Female        AB+            Cancer        2022-09-19

             Doctor                    Hospital Insurance Provider  \
0     Matthew Smith             Sons and Miller         Blue Cross
1   Samantha Davies                     Kim Inc           Medicare
2  Tiffany Mitchell                    Cook PLC              Aetna
3       Kevin Wells  Hernandez Rogers and Vang,           Medicare
4    Kathleen Hanna                 White-White              Aetna

   Billing Amount  Room Number Admission Type Discharge Date   Medication  \
0    18856.281306          328         Urgent     2024-02-02  Paracetamol
1    33643.327287          265      Emergency     2019-08-26    Ibuprofen
2    27955.096079          205      Emergency     2022-10-07      Aspirin
3    37909.782410          450       Elective     2020-12-18    Ibuprofen
4    14238.317814          458         Urgent     2022-10-09   Penicillin

   Test Results
0        Normal
1  Inconclusive
2        Normal
3      Abnormal
4      Abnormal

## Section 2: Preprocessing and Cleaning

---

From the cursory glance at the first 5 records, the name of the patient is in a really strange format with mixed capitalization. While the name is likely to not be super useful for analysis, it should still be cleaned.

In [3]:
df['Name'] = df['Name'].str.title()
df.head(5)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

No null values to deal with. 

The fields that represent dates like `Date of Admission` and `Discharge Date` are represented as strings, but should be in date time.

In [5]:
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'])

df[['Date of Admission', 'Discharge Date']].dtypes

Date of Admission    datetime64[ns]
Discharge Date       datetime64[ns]
dtype: object

It would also be good to check the values in each column to check for any other inconsistencies.

In [6]:
for col in df.columns:
    print(f'\n--- {col} ---')
    print(df[col].unique())

--- Name ---
['Bobby Jackson' 'Leslie Terry' 'Danny Smith' ... 'Lisa Simpson'
 'Roger Farrell' 'Katherine Webster']

--- Age ---
[30 62 76 28 43 36 21 20 82 58 72 38 75 68 44 46 63 34 67 48 59 73 51 23
 78 25 33 26 70 57 74 81 49 65 31 22 77 42 24 84 55 40 83 18 27 19 29 61
 80 60 35 79 53 69 47 85 52 37 50 32 54 45 66 39 56 64 71 41 88 17 87 86
 15 16 13 14 89]

--- Gender ---
['Male' 'Female']

--- Blood Type ---
['B-' 'A+' 'A-' 'O+' 'AB+' 'AB-' 'B+' 'O-']

--- Medical Condition ---
['Cancer' 'Obesity' 'Diabetes' 'Asthma' 'Hypertension' 'Arthritis']

--- Date of Admission ---
<DatetimeArray>
['2024-01-31 00:00:00', '2019-08-20 00:00:00', '2022-09-22 00:00:00',
 '2020-11-18 00:00:00', '2022-09-19 00:00:00', '2023-12-20 00:00:00',
 '2020-11-03 00:00:00', '2021-12-28 00:00:00', '2020-07-01 00:00:00',
 '2021-05-23 00:00:00',
 ...
 '2019-06-29 00:00:00', '2019-10-07 00:00:00', '2022-11-30 00:00:00',
 '2023-12-22 00:00:00', '2024-01-26 00:00:00', '2023-02-27 00:00:00',
 '2022-02-18 00:00:00', '2019-05-31 00:00:00', '2023-10-12 00:00:00',
 '2021-03-14 00:00:00']
Length: 1827, dtype: datetime64[ns]

--- Doctor ---
['Matthew Smith' 'Samantha Davies' 'Tiffany Mitchell' ... 'Deborah Sutton'
 'Mary Bartlett' 'Alec May']

--- Hospital ---
['Sons and Miller' 'Kim Inc' 'Cook PLC' ... 'Guzman Jones and Graves,'
 'and Williams, Brown Mckenzie' 'Moreno Murphy, Griffith and']

--- Insurance Provider ---
['Blue Cross' 'Medicare' 'Aetna' 'UnitedHealthcare' 'Cigna']

--- Billing Amount ---
[18856.28130598 33643.32728658 27955.09607884 ...  8441.14706442
 34934.2841126   8926.28593733]

--- Room Number ---
[328 265 205 450 458 389 277 316 249 394 288 134 309 182 465 114 449 260
 115 295 327 119 109 162 401 157 223 293 371 108 245 494 285 228 481 212
 113 272 478 196 418 410 300 211 413 138 456 234 492 180 250 296 330 405
 306 333 244 325 378 468 368 263 489 241 231 377 407 135 131 102 255 422
 320 273 395 152 321 428 482 268 120 318 144 226 459 208 227 402 442 425
 373 290 361 251 440 414 424 307 476 388 326 178 177 302 130 430 133 104
 408 376 331 275 480 233 384 380 310 406 213 427 500 451 485 267 154 466
 453 261 167 179 490 258 483 202 198 308 278 103 400 192 128 238 136 218
 348 486 147 126 314 271 341 498 168 189 438 286 266 392 156 315 322 184
 472 398 435 174 137 111 464 117 493 183 471 164 356 497 421 488 317 247
 158 242 151 221 359 370 141 343 319 121 166 397 186 299 101 142 181 282
 350 262 210 391 195 214 409 279 243 106 467 176 287 124 352 165 347 354
 225 357 140 404 426 236 194 188 415 185 358 390 112 283 439 123 469 230
 171 484 256 365 452 172 197 110 437 419 416 461 431 105 313 385 116 386
 175 270 338 360 252 215 434 374 217 366 118 387 237 355 364 169 301 463
 382 232 455 462 393 423 264 289 342 292 146 193 148 441 199 216 132 475
 436 403 433 206 207 375 159 304 349 396 445 276 298 129 209 420 324 443
 254 470 346 496 448 280 335 411 200 312 305 345 145 203 362 454 191 339
 477 219 412 379 340 170 190 363 491 487 334 125 332 224 204 323 248 297
 311 201 143 107 303 329 122 337 457 274 246 294 161 336 383 187 229 291
 155 173 353 281 446 399 479 429 150 253 149 369 220 127 153 474 372 381
 473 351 259 257 367 222 460 447 495 344 163 139 444 284 499 432 269 160
 240 239 417 235]

--- Admission Type ---
['Urgent' 'Emergency' 'Elective']

--- Discharge Date ---
<DatetimeArray>
['2024-02-02 00:00:00', '2019-08-26 00:00:00', '2022-10-07 00:00:00',
 '2020-12-18 00:00:00', '2022-10-09 00:00:00', '2023-12-24 00:00:00',
 '2020-11-15 00:00:00', '2022-01-07 00:00:00', '2020-07-14 00:00:00',
 '2021-06-22 00:00:00',
 ...
 '2024-05-23 00:00:00', '2022-09-17 00:00:00', '2022-02-07 00:00:00',
 '2024-06-04 00:00:00', '2024-06-05 00:00:00', '2019-05-24 00:00:00',
 '2024-06-03 00:00:00', '2019-05-09 00:00:00', '2024-05-31 00:00:00',
 '2024-06-06 00:00:00']
Length: 1856, dtype: datetime64[ns]

--- Medication ---
['Paracetamol' 'Ibuprofen' 'Aspirin' 'Penicillin' 'Lipitor']

--- Test Results ---
['Normal' 'Inconclusive' 'Abnormal']

There don't appear to be any inconsistencies.

Are there any duplicate rows?

In [7]:
# check for duplicate rows
print("Number of duplicate rows:", df.duplicated().sum())

# display duplicates if any
if df.duplicated().sum() > 0:
    display(df[df.duplicated()])
else:
    print("No duplicate rows found.")

Number of duplicate rows: 534

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
50023,Samuel Joyce,56,Male,O+,Arthritis,2022-11-03,Krista Hartman,Thomas-Ballard,UnitedHealthcare,15654.830587,157,Urgent,2022-11-22,Aspirin,Inconclusive
50040,Kimberly Vasquez,26,Male,A-,Obesity,2023-10-23,Jennifer Bennett,Cowan Inc,UnitedHealthcare,38142.109678,313,Urgent,2023-11-18,Penicillin,Abnormal
50055,Scott Thornton,55,Female,B-,Obesity,2021-04-08,Joshua Ingram,Keller LLC,Medicare,30894.904511,455,Urgent,2021-04-15,Aspirin,Abnormal
50070,William Lee,27,Female,O+,Arthritis,2020-01-31,Lauren Montgomery,Winters-Simon,Cigna,46229.434901,153,Elective,2020-02-13,Lipitor,Normal
50078,Christopher Norris,38,Male,AB-,Arthritis,2023-01-14,Denise Blair,Inc Morales,Medicare,9072.127142,452,Emergency,2023-02-12,Penicillin,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55461,Connor Compton,63,Male,A+,Asthma,2021-08-21,Jonathan Allen,"and Willis Mullins, Bowers",Medicare,1936.702824,375,Emergency,2021-09-16,Paracetamol,Normal
55462,Alyssa Miller,35,Female,A-,Diabetes,2022-06-30,Ryan Price,Shelton-Gallagher,UnitedHealthcare,2210.460898,289,Elective,2022-07-27,Penicillin,Normal
55464,Chris Hughes,35,Female,AB-,Obesity,2024-02-28,Katelyn Perry,Lyons-Hansen,Blue Cross,11889.154513,128,Emergency,2024-03-14,Paracetamol,Abnormal
55484,Kenneth Alvarez,80,Male,O+,Cancer,2022-05-05,Andrew Conner,Sons Mayo and,Cigna,45653.802310,114,Elective,2022-05-17,Aspirin,Normal
55491,Linda Griffin,47,Female,O+,Obesity,2020-06-21,Danielle Davis,"and King Jordan Johnson,",Aetna,15715.551079,310,Emergency,2020-06-25,Lipitor,Abnormal

In [8]:
# drop the duplicated rows
df = df.drop_duplicates().reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54966 entries, 0 to 54965
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                54966 non-null  object
 1   Age                 54966 non-null  int64
 2   Gender              54966 non-null  object
 3   Blood Type          54966 non-null  object
 4   Medical Condition   54966 non-null  object
 5   Date of Admission   54966 non-null  datetime64[ns]
 6   Doctor              54966 non-null  object
 7   Hospital            54966 non-null  object
 8   Insurance Provider  54966 non-null  object
 9   Billing Amount      54966 non-null  float64
 10  Room Number         54966 non-null  int64
 11  Admission Type      54966 non-null  object
 12  Discharge Date      54966 non-null  datetime64[ns]
 13  Medication          54966 non-null  object
 14  Test Results        54966 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 6.3+ MB

While `Billing Amount` displays more than needed decimals, I think I'll keep it as is and round for display in dashboards.

There are a few columns that could be considered categorical and would help me with modeling in the future.

In [9]:
# define the categorical columns
cat_cols = [
    'Gender',
    'Blood Type',
    'Medical Condition',
    'Doctor',
    'Hospital',
    'Insurance Provider',
    'Room Number',
    'Admission Type',
    'Medication',
    'Test Results'
]

df[cat_cols] = df[cat_cols].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54966 entries, 0 to 54965
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                54966 non-null  object
 1   Age                 54966 non-null  int64
 2   Gender              54966 non-null  category
 3   Blood Type          54966 non-null  category
 4   Medical Condition   54966 non-null  category
 5   Date of Admission   54966 non-null  datetime64[ns]
 6   Doctor              54966 non-null  category
 7   Hospital            54966 non-null  category
 8   Insurance Provider  54966 non-null  category
 9   Billing Amount      54966 non-null  float64
 10  Room Number         54966 non-null  category
 11  Admission Type      54966 non-null  category
 12  Discharge Date      54966 non-null  datetime64[ns]
 13  Medication          54966 non-null  category
 14  Test Results        54966 non-null  category
dtypes: category(10), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 5.6+ MB

## Section 3: Adding Features

---

In [10]:
# calculate the number of days the patient remained in care
df['Length of Stay'] = (df['Discharge Date'] - df['Date of Admission']).dt.days
df['Length of Stay'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 54966 entries, 0 to 54965
Series name: Length of Stay
Non-Null Count  Dtype
--------------  -----
54966 non-null  int64
dtypes: int64(1)
memory usage: 429.5 KB

In [11]:
print(df['Length of Stay'].unique())

[ 2  6 15 30 20  4 12 10 13  3 23 16 28  5 21 25  7 19 29 24 27  9 14 26
 17 22  8 18  1 11]

In [12]:
# extract the different components of the date
df['Admission Year'] = df['Date of Admission'].dt.year
df['Admission Month'] = df['Date of Admission'].dt.month
df['Admission Weekday'] = df['Date of Admission'].dt.day_name()

df['Discharge Year'] = df['Discharge Date'].dt.year
df['Discharge Month'] = df['Discharge Date'].dt.month
df['Discharge Weekday'] = df['Discharge Date'].dt.day_name()

df[['Admission Year', 'Admission Month', 'Admission Weekday', 'Discharge Year', 'Discharge Month', 'Discharge Weekday']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54966 entries, 0 to 54965
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Admission Year     54966 non-null  int32
 1   Admission Month    54966 non-null  int32
 2   Admission Weekday  54966 non-null  object
 3   Discharge Year     54966 non-null  int32
 4   Discharge Month    54966 non-null  int32
 5   Discharge Weekday  54966 non-null  object
dtypes: int32(4), object(2)
memory usage: 1.7+ MB

In [13]:
date_cols = [
    'Admission Year',
    'Admission Month',
    'Admission Weekday',
    'Discharge Year',
    'Discharge Month',
    'Discharge Weekday'
]

for col in df[date_cols].columns:
    print(f'\n--- {col} ---')
    print(df[col].unique())

--- Admission Year ---
[2024 2019 2022 2020 2023 2021]

--- Admission Month ---
[ 1  8  9 11 12  7  5  4 10  6  3  2]

--- Admission Weekday ---
['Wednesday' 'Tuesday' 'Thursday' 'Monday' 'Sunday' 'Friday' 'Saturday']

--- Discharge Year ---
[2024 2019 2022 2020 2023 2021]

--- Discharge Month ---
[ 2  8 10 12 11  1  7  6  4  9  3  5]

--- Discharge Weekday ---
['Friday' 'Monday' 'Sunday' 'Tuesday' 'Wednesday' 'Saturday' 'Thursday']

In [14]:
# calculate how much a customer was billed per day
df['Billing per Day'] = (df['Billing Amount'] / df['Length of Stay']).round(2)
df['Billing per Day'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 54966 entries, 0 to 54965
Series name: Billing per Day
Non-Null Count  Dtype
--------------  -----
54966 non-null  float64
dtypes: float64(1)
memory usage: 429.5 KB

In [15]:
# break off ages into age brackets
bins = [0, 12, 18, 35, 65, df['Age'].max()]
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']

df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)
df['Age Group'] = df['Age Group'].astype('category')
df['Age Group'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 54966 entries, 0 to 54965
Series name: Age Group
Non-Null Count  Dtype
--------------  -----
54966 non-null  category
dtypes: category(1)
memory usage: 54.0 KB

## Section 4: Exporting the Processed DataFrame as a CSV

---

In [18]:
# export the df to csv
df.to_csv('../data/processed/healthcare_clean.csv', index=False)